Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP:Authorization} ^(.+)
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]
</IfModule>

<FilesMatch "\.(sql|md|env|log|example\.php)$">
  Require all denied
</FilesMatch>
