<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{HTTP:Authorization} ^(.+)
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]
  RewriteRule ^(config|helpers|sql)(/|$) - [F,L]
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule ^ index.html [L]
</IfModule>
